table {
    width: 100%;
  }

  .center{
    display: flex;
    height: 100%;     
    width: 100%;
    align-items: center;
  }
  .bekezdes{
    font-size: large;
    line-height: 1em;
    margin: 3em;
  }