<div class="center">
    <div *ngIf="trainInput" class="bekezdes">
        <ul> <span style="font-weight: bold;">Vonat neve: </span>{{trainInput.nev }}</ul><br>
        <ul> <span style="font-weight: bold;">Gyártási éve: </span>{{trainInput.gyartasiev }}</ul><br>
        <ul> <span style="font-weight: bold;">Mióta közlekedik Lillafüreden: </span>{{trainInput.ittkozlekedik }}</ul><br>
        <ul> <span style="font-weight: bold;">Eredeti darabszám: </span>{{trainInput.eredetidb }}</ul><br>
        <ul> <span style="font-weight: bold;">Jelenlegi darabszám: </span>{{trainInput.jelenlegidb }}</ul><br>
        <ul> <span style="font-weight: bold;  text-indent: 3em;">Megjegyzés: </span>{{trainInput.megjegyzes }}</ul><br>
         </div>
  </div>

