.behuzas{
    margin: 10px;
    text-indent: 15px;
}

.felsorolas{
    margin:20px;
}
.bold{
    font-weight: bold;
}
.bold2 li{
    font-weight: bold;
}
.centered{
    margin: auto;
  width: 100%;
  justify-content: center;
  text-align: center;
  font-size: 200%;
}

a{
    color:black;
}

