<body style="background: #ffffcc;">
    <h1 style=" color:#823b17;
    text-align: center;
    padding-top: 2%; font-size: 2em;">Használati útmutató</h1>

<div  style="background: #d6d6c2; height: 3%; width: 100%; "> </div>

<div class="split-view-container">
    <div class="left" style="  margin-left: 2em; ">
      <h1 >Térkép</h1>
      
        <span>A Térkép oldalon egy 3D térkép látható a Lillafüredi kisvasút ma használható síhálózatáról.</span> <br>
        <span>A megállók házak formájában vannak megjelenítve. </span><br>
        <span>A házakra rá lehet kattintani és így megjelennek a megállókhoz közel található nevezetességek, valamint a nevezetességek eredeti oldalai.</span><br>
        <span>Minden ablak alján fel vannak tüntetve a jegyárak és a menetrendek</span><br>
        <span>Az ablak jobb alsó sarkán található gombbal lehet kilépni az ablakból</span>
      
  
      <!-- Left -->
     
    </div>
  
    <div class="middle" style="background: #d6d6c2; width: 2%;">
        
        <!-- Middle-->
      
      </div>
    <div class="right" style="margin-left: 2em;">
      <h1>Vonatok</h1>
      
     <span>A Vonatok oldalon látható először egy kép és információ, a kiválasztott vonatról. </span><br>
        <span>   Bal fent a Vonatok felirat és a kép között lehet váltani az összes Lillafüreden megtalálható vonat közül.</span><br>
        <span>A képek alatt a 3D modell gombra kattintva megjelenik a vonatnak a 3D modellje.</span> <br>
        <span>A modellt lehet mozgatni, ha a bal egérgombot lenyomva tartva elkezdi az egeret mozgatni</span>
  
  
      <!-- Right-->
     
    </div>
  </div>
</body>