<mat-toolbar>
 
        <button mat-button routerLink="/splash"  style="font-size:xx-large;color:#ffffcc" value="splash">Lillafüredi kisvasút</button>
        <span style="flex: 1 1;"></span>
        <button mat-button routerLink="/splash" style="font-size:xx-large; color:#ffffcc">Kezdőoldal</button>
        <button mat-button routerLink="/info" style="font-size:xx-large; color:#ffffcc">Útmutató</button>
        <button mat-button routerLink="/map" style="font-size:xx-large;color:#ffffcc" value="map">Térkép</button>
        <button mat-button routerLink="/trains"style="font-size:xx-large;color:#ffffcc" value="trains">Vonatok</button>
  
   
  </mat-toolbar>
  
  